/MiPrimerProyecto004/nbproject/private/
/MiPrimerProyecto004/build/
/MiPrimerProyecto004/dist/
/Proyecto2_004/nbproject/private/
/Proyecto2_002/nbproject/private/
/Proyecto2_003/nbproject/private/
/Proyecto2_002/build/
/Proyecto2_004/build/
/AyudantiaParte01/nbproject/private/
/AyudantiaParte01/build/
/AyudantiaParte01/dist/
/Proyecto2_004/dist/
/Ayudantia/Ayudantia004_Parte01/nbproject/private/
/Ayudantia/Ayudantia004_Parte01/build/
/Ayudantia/Ayudantia004_Parte01/dist/
